.question {
    padding: 5.57% 9.29%;
}
.questionListVisebleTop {
    padding: 0% 9.29% 5.57%;
}
.questionListVisebleBot {
    padding: 5.57% 9.29% 0;
}
.visible {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    font-family: 'osw';
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
}
.img {
    display: block;
    max-height: 28px;
}