@import url(components/fonts/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

/* COMMON */
.container {
    margin: auto;
    max-width: 1200px;
}

/* BTN */
.btn_blue {
    display: flex;
    height: 52px;
    align-items: center;
    padding: 14px 40px;
    background-color: #0057FF;
    border: none;
    border-radius: 30px;
    margin: 13px 0 15px;
    transition: all 0.3s ease-out;
    cursor: pointer;

    font-family: 'osw';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn_blue:hover {
    background-color: #004be0;
}

.btn_yellow {
    display: flex;
    height: 52px;
    align-items: center;
    padding: 14px 40px;
    background-color: #FFA332;
    border: none;
    border-radius: 30px;
    margin: 13px 0 15px;
    transition: all 0.3s ease-out;
    cursor: pointer;

    font-family: 'osw';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn_yellow:hover {
    background-color: #ff8c00;
}
/* BTN/ */

/* TEXT */
.title {
    font-family: 'osw';
    font-size: 56px;
    line-height: 66px;
    text-transform: uppercase;

}
.text_fill {
    font-family: 'rob';
    font-size: 16px;
    line-height: 26px;
}
.blue_text {

}
/* TEXT/ */
/* COMMON/ */