.section2 {
    overflow: hidden;
}
.container {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.blueText {
    margin-bottom: 4px;
}
.title {
    font-size: 40px;
    line-height: 48px;

    max-width: 390px;
    margin-bottom: 39px;
}
.textFill {
    max-width: 655px;
    margin-bottom: 77px;
}

/* IMG */

.imgBox {
    position: relative;
}
.girl {
    width: 100%;
}
.grey {
    position: absolute;
    top: 40px;
    left: 0;
    width: 8.33%;
    height: calc((100px / 1200) * 100%);
}
.orange {
    position: absolute;
    /* bottom: -30%; */
    bottom: 0;
    right: -1.67%;
    width: 16.67%;
    height: calc((200px / 1200) * 100%);
}