.section_2 {
    overflow: hidden;
}

.section_2.container {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.blue_text.section_2 {
    margin-bottom: 4px;
}
.title.section_2 {
    font-size: 40px;
    line-height: 48px;

    max-width: 390px;
    margin-bottom: 39px;
}
.text_fill.section_2 {
    max-width: 655px;
    margin-bottom: 77px;
}

/* IMG */

.section_2_img {
    position: relative;
}
.section_2_girl {
    width: 100%;
}
.section_2_grey {
    position: absolute;
    top: 40px;
    left: 0;
    width: 8.33%;
    height: calc((100px / 1200) * 100%);
}
.section_2_orange {
    position: absolute;
    /* bottom: -30%; */
    bottom: 0;
    right: -1.67%;
    width: 16.67%;
    height: calc((200px / 1200) * 100%);
}