.left {
    width: 50%;
    padding-top: 32.084%;
    padding-right: 8.33%;
}
.title {
    text-align: left;
    font-size: 40px;
    line-height: 50px;

    padding-bottom: 48px;
}
.textFill {
    font-size: 15px;
    line-height: 26px;

    padding-bottom: 37px;
}
.df {
    margin-bottom: 30px;
}
.btn {
    margin: 0;
}